<!DOCTYPE html>
<html>
<head>
  <title>App title</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Application Layout</h1>

<%= yield %>

</body>
</html>