.flash .alert {
  border: 1px solid #bb9004;
  background: #f9c006 url("/assets/manageable/messages/warning.png") no-repeat 10px center;
}

.field_with_errors, .fieldWithErrors {
  display: inline;
}

.table {
  thead tr {
    a {
      padding-right: 20px;
      background: url(/assets/manageable/icons/sort_undefined.png) no-repeat center right;
      &.sort_asc {
        background: url(/assets/manageable/icons/sort_asc.png) no-repeat center right;
      }
      &.sort_desc {
        background: url(/assets/manageable/icons/sort_desc.png) no-repeat center right;
      }
    }
  }
}
